.The-Latest {
    color: #fff;
    text-align: center;
    margin-top: 5rem;
}

.main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.main .boxs {
    position: relative;
    width: 20rem;
    height: 26.8rem;
    margin: 4rem;
}

.main .boxs:hover .imgBox {
    transform: translate(-3.5rem, -3.5rem);
}

.main .boxs:hover .content {
    transform: translate(3.5rem, 3.5rem);
}

.imgBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: all 0.5s ease-in-out;
    border-radius: 10px;
}

.imgBox img {
    width: 23rem;
    height: 30rem;
    object-fit: cover;
    resize: both;
    border-radius: 10px;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    background-color: #fff;
    z-index: 1;
    align-items: flex-end;
    text-align: center;
    transition: 0.5s ease-in-out;
    border-radius: 10px;
}

.content h2 {
    display: block;
    font-size: 1.5rem;
    color: #111;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: 1px;
}

.content a {
    border-radius: 10px;
    background-color: #0ef;
    color: #fff;
    padding: 5px;
    text-decoration: none;
    font-size: 1rem
}

.content a:hover {
    color: #fff;
    opacity: 0.7;
    transition: all 0.3s ease;
}

@media (max-width: 600px) {
    .main .box:hover .content {
        transform: translate(0, 3.5rem);
    }

    .main .box:hover .imgBox {
        transform: translate(0, -3.5rem);
    }
}

@media (max-width: 992px) {

    .main {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-right: 2rem;

    }

    .main .boxs {
        position: relative;
        width: 10rem;
        height: 16.8rem;
        border-radius: 10px;
    }

    .imgBox img {
        width: 13rem;
        height: 20rem;
        object-fit: cover;
        resize: both;
        border-radius: 10px;
    }

    .content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 1.5rem;
        display: flex;
        justify-content: center;
        background-color: #fff;
        z-index: 1;
        align-items: flex-end;
        text-align: center;
        transition: 0.5s ease-in-out;
        border-radius: 10px;
    }

    .content h2 {
        display: block;
        font-size: 1rem;
        color: #111;
        font-weight: 500;
        line-height: 2rem;
        letter-spacing: 1px;
    }

    .content span {
        color: #555;
        font-size: 0.7rem;
        font-weight: 300;
        letter-spacing: 2px;
    }
}